@model MvcProje.Models.userverol
@{
    ViewBag.Title = "KendiGuncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Profil Bilgilerim</strong>
                </div>
                <div class="card-body">
                    <form action="~/Admin/KendiGuncelle" method="post">
                        <div class="mx-auto d-block">
                            <div class="location text-sm-center fa-7x"><i class="fa fa-user-circle"></i> </div>
                            <input type="hidden" name="userid" value="@Model.userid" />

                            <div class="text-sm-center mt-2 mb-1">
                                Kullanıcı Adı
                                <input type="text" class="form-control" name="userad" value="@Model.userad" />
                            </div>
                            <div class="location text-sm-center">
                                Şifre
                                <input type="password" name="usersifre" class="form-control" value="@Model.usersifre" />
                            </div>
                            <div class="text-sm-center">
                                Rol
                                <select name="userrol" class="form-control">
                                    <option value="@Model.userrolid">@Model.userrolad</option>
                                    @foreach (var rol in ViewBag.roller)
                                    {
                                        <option value="@rol.rolid">@rol.rolad</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="text-sm-center">
                            <input type="submit" value="Güncelle" class="btn btn-floating" />
                        </div>
                    </form>
                    <hr>
                    <div class="card-text text-sm-center">
                        <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                        <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                        <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                        <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

